.header { background: $head-bg; }
#header { background: center/100% url('/uploads/water.jpg'); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
